.dropdown{
    display: block;
    width: 200px;
    border-bottom: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    background-color: #fff;
    position: absolute;
}
.hide-dropdown{
    display: none;
}
.logo-gs{
    width: 270px;
    position: relative;
    top: -12px;
}
.links{
    color: #009688;
    font-weight: 500;
    font-size: 18px;
}
.links:hover{
    color: #026d62;
}
.flash-content{
	position: absolute;
	right: 100px;
	left: 100px;
	font-size: 18px;
	text-align: center;
}
@media screen and (max-width: 780px){
    .logo-gs{
        width: 190px;
        position: relative;
        top: -6px;
    }
}